body {
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: linear-gradient(#e66465, #9198e5);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}
.qa_set {
    display: none;
}

.qa_set.active{
    display: block;
}

.qa_box{
    width: 500px;
    padding: 20px;
    min-height: 100px;
    margin: 20px 0px 60px 0px;
    background-color: #fff;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.qa_header {
    background-color: rgba(0, 0, 0, 0.742);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    margin: -20px -20px 0;
    border-radius: 15px 15px 0 0;
    font-size: 20px;
}

.qa_set h4{
    margin: 0 0 12px;
    margin-top: 20px;
    font-size: 20px;
}
.qa_ans_row{
    position: relative;
    margin-bottom: 10px;
}
.qa_ans_row input{
    opacity: 0;
    position: absolute; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.qa_ans_row span{
    display: block;
    padding: 8px 15px;
    background-color: #bad0c9;
    border-radius: 15px;
    transition: all 0.3 ease-out;
}
.qa_ans_row:hover span{
    background-color: #9ab5ac;
}
.qa_ans_row input:checked + span{
    background-color: rgba(255, 0, 0, 0.577);
}
.qa_ans_row input[valid]:checked + span{
    background-color: rgba(0, 128, 0, 0.54);
    color: white;
}

.qa_footer {
    background-color: rgba(0, 0, 0, 0.703);
    color: white;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: -20px;
    margin-top: 30px;
    border-radius: 7px 7px 15px 15px;
    font-size: 15px;
}

